// Game
.memory-game {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 12px;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.memory-game__left {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;

  @media (min-width: 768px) {
    flex: 0 0 58.333%;
    max-width: 58.333%;
    margin-bottom: 0;
  }
}

.memory-game__cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  width: 100%;

  @media (min-width: 768px) {
    max-width: 500px;
  }
}

.memory-game__card {
  flex: 0 0 16.667%;
  max-width: 16.667%;
  width: 100%;
  height: 76px;
  padding: 4px;

  @media (min-width: 768px) {
    height: 96px;
  }
}

.memory-game__result-table {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.memory-game__right {
  @media (min-width: 768px) {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
    padding-left: 12px;
  }
}

.memory-game__button {
  padding: 5px 10px;
  background: lightgray;
  border-radius: 2px;
  width: fit-content;
}

.memory-game__action-buttons {
  margin-bottom: 12px;
  display: flex;
  justify-content: center;

  & .memory-game__button:not(:first-of-type) {
    margin-left: 8px;
  }
}

// Card
.memory-card {
  position: relative;
  height: 100%;
  border: 1px solid black;
  border-radius: 2px;
  background: lightgrey;
  font-size: 24px;
}

.memory-card__label{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  opacity: 0;

}

.memory-card__input {
  display: none;
}

.memory-card__input:checked + .memory-card__label {
  opacity: 1;
}

.memory-card__input:not(:checked):not(:disabled) + .memory-card__label {

  &:hover {
    cursor: pointer;
  }
}

// Table
.memory-table {
  max-width: 400px;
  width: 100%;
  border: 1px solid black;
  border-radius: 2px;
  border-spacing: 0;
}

.memory-table__row--title {
  background: lightgrey;
}

.memory-table__cell {
  padding: 4px 8px;
  text-align: center;

  &:not(:first-of-type) {
    border-left: 1px solid black;
  }
}
